html, body { *overflow-x:hidden; *overflow-y:auto; *width:100%; *height:100%; }
#soldout_sms { width: 100%; color:#000; word-break:break-all; }
#soldout_sms h1 { height: 59px; line-height: 61px; padding-left:20px; background:#fff; color: #000; font-size: 20px; font-weight:bold; text-align: left; }
#soldout_sms .wrap { padding:0 20px; }
#soldout_sms .user-guide { padding-top:15px; }
#soldout_sms .user-guide .user { padding:16px 0; background:#f1f1f1; text-align:center; }
#soldout_sms .user-guide .user p { height:30px; line-height:29px; margin:4px 0; }
#soldout_sms .user-guide .user p span { display:inline-block; width:60px; color:#666; vertical-align:middle; text-align:left; }
#soldout_sms .user-guide .user p select { width:58px; height:26px; line-height:26px; color:#333; vertical-align:middle; background:#eee; }
#soldout_sms .user-guide .user p input { width:48px; height:24px; line-height:24px; padding-left:8px; border:1px solid rgba(118, 118, 118, 0.3); color:#333; background:#eee; vertical-align:middle; opacity: 0.7; }
#soldout_sms .user-guide .user p input[name=hname] { width:192px; }
#soldout_sms .user-guide .guide { padding:15px 0 15px 10px; color:#666; line-height:17px; text-indent:-10px; }
#soldout_sms .btns { padding:20px 0; text-align:center; border-top:1px solid #d5d5d5; }
#soldout_sms .btns a { display:inline-block; width:157px; height:46px; line-height:46px; border:1px solid #231f20; color:#fff; font-size:14px; background:#231f20; text-align:center; }
#soldout_sms .btns a.btn-cancel { border:1px solid #231f20; background:#fff; color:#231f20; }
#soldout_sms .privacy {padding:20px; margin:15px 0; background:#f1f1f1; font-size:12px; color:#333;}
#soldout_sms .privacy .tit {font-weight:bold; margin-bottom:10px;}
